<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rezervasyon.Properties.Settings.KayıtFormuConnectionString"
            connectionString="Data Source=DESKTOP-CT2FF5V;Initial Catalog=KayıtFormu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Rezervasyon.Properties.Settings.KayıtFormuConnectionString1"
            connectionString="Data Source=DESKTOP-CT2FF5V\SQLEXPRESS;Initial Catalog=KayıtFormu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>